name: Test
on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          check-latest: true
          go-version-file: 'go.mod'
      - name: Install deps
        run: go get ./...
      - name: Lint
        run: golangci-lint -v run ./...
      - name: Test
        run: go test -v ./...
